# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.venv/

# Airflow
airflow.db
airflow.db-shm
airflow.db-wal
airflow.cfg
airflow/logs/
simple_auth_manager_passwords.json.generated

# Environment
.env

# VSCode
.vscode/

# Mac
.DS_Store